mixin row()
    -var color = ((1<<24)*Math.random()|0).toString(16);
    div(style="background-color:#" +  color + "; width:150px; height:50px;")
        p=color

mixin 404()
  -var rannumber = Math.floor(Math.random()*(50-20+1)+20)
  -var classes = ['still', 'rotate', 'shrink']
  - for ( i = 0; i < rannumber; i++ )
    -var index = Math.floor(Math.random()*3)
    div(class=""+classes[index]) 404




